<a href="https://colab.research.google.com/github/AnuBaluguri/NNDL/blob/main/Assignment1_19k532.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Mounting Google Drive***

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# ***Import Required Libraries***

In [2]:
import pandas as pd
import numpy as np
import math
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

# ***Loading the data***

In [3]:
data = pd.read_excel('/content/drive/MyDrive/slr08.xlsx')
data

        X      Y
0    75.1  577.8
1    74.3  577.0
2    88.7  570.9
3   114.6  578.6
4    98.5  572.4
5   112.0  411.2
6   114.8  531.7
7    62.2  563.9
8   107.0  406.7
9    90.5  507.1
10   73.8  496.4
11  115.8  505.2
12   99.4  506.4
13   93.0  510.2
14   73.9  503.9
15   65.7  506.2
16   66.2  506.3
17   77.9  510.2
18  109.8  508.6
19  105.4  510.9
20   88.6  505.4
21   89.6  512.8
22   73.8  502.8
23  101.3  493.0
24  120.0  510.8
25   75.9  512.8
26   76.2  513.4
27   81.9  510.0
28   84.3  504.3
29   98.0  522.0

In [4]:
print(data.min())
print(data.max())

X     62.2
Y    406.7
dtype: float64
X    120.0
Y    578.6
dtype: float64

# ***Data Normalization***

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
num_vars = ['X','Y']
data[num_vars]=scaler.fit_transform(data[num_vars])
data.head()

          X         Y
0  0.223183  0.995346
1  0.209343  0.990692
2  0.458478  0.955207
3  0.906574  1.000000
4  0.628028  0.963933

# ***Splitting the data***

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data.X, data.Y, test_size=0.1, random_state=10)

# ***Batch Gradient Descent Optimization Algorithm***

In [7]:
def for_m_value(x,y,m,c):
  k=(y-(m*x)-c)*x
  return k

def for_c_value(x,y,m,c):
  k=(y-(m*x)-c)
  return k

In [8]:
m=1
c=-1
eta=0.1
max_iters=1000
for i in range(max_iters):
  summation_m=0
  summation_c=0
  for j in range(len(x_train)):
    summation_m += for_m_value(x_train.iloc[j],y_train.iloc[j],m,c)
    summation_c += for_c_value(x_train.iloc[j],y_train.iloc[j],m,c)
  #print(summation_m,summation_c)
  gm=(-1/len(x_train))*summation_m
  gc=(-1/len(x_train))*summation_c
  delta_m = -eta*gm
  delta_c = -eta*gc
  m+=delta_m
  c+=delta_c

print("m and c values are: ",m,c)

m and c values are:  -0.04173326483961862 0.6640695107382145

# ***Model prediction on training data***

In [9]:
y_pred_train=[]
for i in x_train:
  y=(m*i)+c
  y_pred_train.append(y)
#y_pred_train=np.array(y_pred_train)

# ***Model prediction on testing data***

In [10]:
y_pred_test=[]
for i in x_test:
  y=(m*i)+c
  y_pred_test.append(y)

# ***Error Calculation***

In [11]:
#Training data
rmse = math.sqrt(mean_squared_error(y_train,y_pred_train))
print("Root mean square error : ",rmse)
mse = mean_squared_error(y_train,y_pred_train)
print("Mean square error : ",mse)
mae = mean_absolute_error(y_train,y_pred_train)
print("Mean absolute error : ",mae)

Root mean square error :  0.19963412197937114
Mean square error :  0.03985378265847443
Mean absolute error :  0.13469693466076843

In [12]:
#Testing data
rmse=math.sqrt(mean_squared_error(y_test,y_pred_test))
print("Root mean square error : ",rmse)
mse = mean_squared_error(y_test,y_pred_test)
print("Mean square error : ",mse)
mae = mean_absolute_error(y_test,y_pred_test)
print("Mean absolute error : ",mae)

Root mean square error :  0.3786163277028682
Mean square error :  0.14335032360320568
Mean absolute error :  0.3077290138565

# ***Deployment***

In [16]:
pre= input("Enter pressure of liquid nitrogen : ")
pre = (float(pre)-62.2)/(120.0-62.2)
wt=m*(pre)+c
wt = wt*(578.6-406.7)+406.7
print("Weight of liquid nitrogen : ",wt)

Enter pressure of liquid nitrogen : 78
Weight of liquid nitrogen :  518.892504225143