<a href="https://colab.research.google.com/github/AnuBaluguri/NNDL/blob/main/NNDLAss2_19K532.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Mounting Google Drive***

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# ***Importing required libraries***

In [2]:
import pandas as pd
import numpy as np
import math
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

# ***Loading Data***

In [3]:
data = pd.read_excel('/content/drive/MyDrive/ass2_dataset.xlsx')
data

             X           Y
0   5551.82208  4931.26380
1   4983.17184  4775.53968
2   4888.39680  4713.81120
3   5072.95872  4689.02628
4   5196.25980  4844.75040
..         ...         ...
67  7995.08520  8196.17040
68  7641.23760  8045.74620
69  5918.45184  7786.20600
70  6394.04172  6746.33052
71  5813.70048  5935.91040

[72 rows x 2 columns]

In [4]:
print(data.min())
print(data.max())

X    4689.02628
Y    4689.02628
dtype: float64
X    8013.0114
Y    8196.1704
dtype: float64

# ***Data Normalization***

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
num_vars=['X','Y']
data[num_vars]=scaler.fit_transform(data[num_vars])
data.head()

          X         Y
0  0.259567  0.069070
1  0.088492  0.024668
2  0.059979  0.007067
3  0.115504  0.000000
4  0.152598  0.044402

# ***Splitting the data***

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data.X,data.Y,test_size=0.1,random_state=10)

# ***Momentum + SGD Optimizer***

In [8]:
def gradient_m(x,y,m,c):
  k = -1*(y-(m*x)-c)*x
  return k

def gradient_c(x,y,m,c):
  k= -1*(y-(m*x)-c)
  return k

In [9]:
m=1
c=-1
epox=1000
eta=0.1
gama=0.9
velocity_m=0
velocity_c=0
for i in range(epox):
  for sample in range(len(x_train)):
    gm = gradient_m(x_train.iloc[sample],y_train.iloc[sample],m,c)
    gc = gradient_c(x_train.iloc[sample],y_train.iloc[sample],m,c)
    velocity_m=(gama*velocity_m)-(eta*gm)
    velocity_c=(gama*velocity_c)-(eta*gc)
    m=m+velocity_m
    c=c+velocity_c

print("m and c values : ",m,c)

m and c values :  0.8333992233684737 0.03682714802098177

# ***Model prediction on training data***

In [10]:
y_pred_train=[]
for i in x_train:
  y=(m*i)+c
  y_pred_train.append(y)

# ***Model prediction on testing data***

In [11]:
y_pred_test=[]
for i in x_test:
  y=(m*i)+c
  y_pred_test.append(y)

# ***Error Calculation***

In [12]:
#Training data
rmse = math.sqrt(mean_squared_error(y_train,y_pred_train))
print("Root mean square error: ",rmse)
mse = mean_squared_error(y_train,y_pred_train)
print("mean square error: ",mse)
mae= mean_absolute_error(y_train,y_pred_train)
print("mean absolute error: ",mae)

Root mean square error:  0.14061568295284177
mean square error:  0.019772770292294118
mean absolute error:  0.11340319853378797

In [13]:
#Testing data
rmse=math.sqrt(mean_squared_error(y_test,y_pred_test))
print("Root mean square error : ",rmse)
mse = mean_squared_error(y_test,y_pred_test)
print("Mean square error : ",mse)
mae = mean_absolute_error(y_test,y_pred_test)
print("Mean absolute error : ",mae)

Root mean square error :  0.23813314203616717
Mean square error :  0.056707393336017375
Mean absolute error :  0.1876062800460865

# ***Deployment***

In [14]:
x=input("Enter load at same hour on previous day: ")
x=(float(x)-4689.026)/(8013.01-4689.026)
y=m*x+c
y=y*(8196.17-4689.026)+4689.026
print("Load on present day on the given hour : ",y)

Enter load at same hour on previous day: 5643
Load on present day on the given hour :  5657.034100197325