<a href="https://colab.research.google.com/github/AnuBaluguri/NNDL/blob/main/NNDLAss3_19K532.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Mounting google drive***

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# ***Importing required libraries***

In [3]:
import pandas as pd
import numpy as np
import math
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import MinMaxScaler

# ***Loading data***

In [4]:
data = pd.read_excel('/content/drive/MyDrive/ass2_dataset.xlsx')
data.head()

            X           Y
0  5551.82208  4931.26380
1  4983.17184  4775.53968
2  4888.39680  4713.81120
3  5072.95872  4689.02628
4  5196.25980  4844.75040

In [6]:
print(data.min())
print(data.max())

X    4689.02628
Y    4689.02628
dtype: float64
X    8013.0114
Y    8196.1704
dtype: float64

# ***Normalization***

In [7]:
scaler = MinMaxScaler()
num_vars=['X','Y']
data[num_vars]=scaler.fit_transform(data[num_vars])
data.head()

          X         Y
0  0.259567  0.069070
1  0.088492  0.024668
2  0.059979  0.007067
3  0.115504  0.000000
4  0.152598  0.044402

# ***Data Splitting***

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data.X,data.Y,test_size=0.1,random_state=10)

# ***Nestrov Accelerated Gradient + SGD***

In [9]:
def gradient_m(x,y,m,c,gama,vm,vc):
  k=-1*(y-(m+gama*vm)*x-c-(gama*vc))*x
  return k

def gradient_c(x,y,m,c,gama,vm,vc):
  k=-1*(y-(m+gama*vm)*x-c-(gama*vc))
  return k

In [16]:
m=1
c=-1
gama=0.9
eta=0.01
vm=vc=0
epox=1000
for i in range(epox):
  for sample in range(len(x_train)):
    gm=gradient_m(x_train.iloc[sample],y_train.iloc[sample],m,c,gama,vm,vc)
    gc=gradient_c(x_train.iloc[sample],y_train.iloc[sample],m,c,gama,vm,vc)
    vm=(gama*vm)-(eta*gm)
    vc=(gama*vc)-(eta*gc)
    m=m+vm
    c=c+vc

print("values of m and c: ",m,c)

values of m and c:  0.8251378200614032 0.09760890595856367

# ***Model Prediction on training data***

In [17]:
y_pred_train=[]
for i in x_train:
  y=m*i+c
  y_pred_train.append(y)

# ***Model Prediction on testing data***

In [18]:
y_pred_test=[]
for i in x_test:
  y=m*i+c
  y_pred_test.append(y)

# ***Error Calculation***

In [19]:
#training data
rmse=math.sqrt(mean_squared_error(y_train,y_pred_train))
print("Root mean square error: ",rmse)
mse=mean_squared_error(y_train,y_pred_train)
print("Mean square error: ",mse)
mae=mean_absolute_error(y_train,y_pred_train)
print("Mean absolute error: ",mae)

Root mean square error:  0.13157732182326035
Mean square error:  0.017312591618181824
Mean absolute error:  0.09399088024387965

In [20]:
#testing data
rmse=math.sqrt(mean_squared_error(y_test,y_pred_test))
print("Root mean square error: ",rmse)
mse=mean_squared_error(y_test,y_pred_test)
print("Mean square error: ",mse)
mae=mean_absolute_error(y_test,y_pred_test)
print("Mean absolute error: ",mae)

Root mean square error:  0.22693491954237233
Mean square error:  0.051499457707703
Mean absolute error:  0.17331125952441123

# ***Deployment***

In [21]:
x=input("enter load at particular hour on previous day: ")
x=(float(x)-4689.026)/(8013.01-4689.026)
y=m*x+c
y=y*(8196.17-4689.026)+4689.026
print("Load on present day on the given hour : ",y)

enter load at particular hour on previous day: 5643
Load on present day on the given hour :  5861.8890416551285