<a href="https://colab.research.google.com/github/AnuBaluguri/NNDL/blob/main/NNDLAss4_19K532.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Mounting Drive***

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# ***Importing required libraries***

In [2]:
import pandas as pd
import numpy as np
import math
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import MinMaxScaler

# ***Loading data***

In [3]:
data = pd.read_excel('/content/drive/MyDrive/ass4_dataset.xlsx')
data.head()

            X           Y
0  5447.07072  5707.07856
1  4713.81120  5865.60852
2  5002.50096  6116.73120
3  5037.72984  6807.27960
4  5865.60852  8024.70240

In [4]:
print(data.min())
print(data.max())

X    4713.8112
Y    5126.8932
dtype: float64
X    8013.7908
Y    8410.5054
dtype: float64

# ***Data Normalization***

In [5]:
scaler = MinMaxScaler()
num_vars=['X','Y']
data[num_vars]=scaler.fit_transform(data[num_vars])
data.head()

          X         Y
0  0.222201  0.176691
1  0.000000  0.224970
2  0.087482  0.301448
3  0.098158  0.511749
4  0.349032  0.882507

# ***Data Splitting***

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data.X,data.Y,test_size=0.1,random_state=10)

# ***AdaGrad + SGD***

In [7]:
def gradient_m(x,y,m,c):
  k=-1*(y-m*x-c)*x
  return k

def gradient_c(x,y,m,c):
  k=-1*(y-m*x-c)
  return k

In [8]:
#Initializing required variables
m=1
c=-1
eta=0.1
epox=1000
Gm2=Gc2=0
E=0.000001

for i in range(epox):
  for sample in range(len(x_train)):
    gm=gradient_m(x_train.iloc[sample],y_train.iloc[sample],m,c)
    gc=gradient_c(x_train.iloc[sample],y_train.iloc[sample],m,c)
    Gm2=Gm2+(gm*gm)
    Gc2=Gc2+(gc*gc)
    m=m-(eta/math.sqrt(Gm2+E))*gm
    c=c-(eta/math.sqrt(Gc2+E))*gc

print("Model parameters m and c: ",m,c)

Model parameters m and c:  0.2053680507832967 0.39146925332132787

# ***Model prediction on training data***

In [9]:
y_pred_train=[]
for i in x_train:
  y=m*i+c
  y_pred_train.append(y)

# **Model prediciton on testing data**

In [10]:
y_pred_test=[]
for i in x_test:
  y=m*i+c
  y_pred_test.append(y)

# ***Error Calculation***

In [11]:
#training data
rmse=math.sqrt(mean_squared_error(y_train,y_pred_train))
print("Root mean square error : ",rmse)
mse = (mean_squared_error(y_train,y_pred_train))
print("Mean square error : ",mse)
mae=(mean_absolute_error(y_train,y_pred_train))
print("Mean absolute error: ",mae)

Root mean square error :  0.2462226303813154
Mean square error :  0.06062558371189386
Mean absolute error:  0.19631999629785452

In [13]:
#testing data
rmse=math.sqrt(mean_squared_error(y_test,y_pred_test))
print("Root mean square error: ",rmse)
mse=mean_squared_error(y_test,y_pred_test)
print("Mean square error: ",mse)
mae=mean_absolute_error(y_test,y_pred_test)
print("Mean absolute error: ",mae)

Root mean square error:  0.24774343843947833
Mean square error:  0.06137681128981559
Mean absolute error:  0.19653325936866206

# ***Deplyment***

In [15]:
x=input("enter load at particular hour on same day of last week: ")
x=(float(x)-4713.811)/(8013.8-4713.81)
y=m*x+c
y=(8410.5-5126.8)*y+5126.8
print("load at particular hour on present day: ",y)

enter load at particular hour on same day of last week: 5432
load at particular hour on present day:  6559.032580496778