<a href="https://colab.research.google.com/github/AnuBaluguri/NNDL/blob/main/NNDLAss3_19K532.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Mounting google drive***

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# ***Importing required libraries***

In [6]:
import pandas as pd
import numpy as np
import math
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import MinMaxScaler

# ***Loading data***

In [7]:
data = pd.read_excel('/content/drive/MyDrive/ass3_dataset.xlsx')
data.head()

            X           Y
0  5551.82208  4983.17184
1  4983.17184  4888.39680
2  4888.39680  5072.95872
3  5072.95872  5196.25980
4  5196.25980  5641.29720

In [8]:
print(data.min())
print(data.max())

X    4689.02628
Y    4689.02628
dtype: float64
X    8013.0114
Y    8013.0114
dtype: float64

# ***Normalization***

In [9]:
scaler = MinMaxScaler()
num_vars=['X','Y']
data[num_vars]=scaler.fit_transform(data[num_vars])
data.head()

          X         Y
0  0.259567  0.088492
1  0.088492  0.059979
2  0.059979  0.115504
3  0.115504  0.152598
4  0.152598  0.286485

# ***Data Splitting***

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data.X,data.Y,test_size=0.1,random_state=10)

# ***Nestrov Accelerated Gradient + SGD***

In [11]:
def gradient_m(x,y,m,c,gama,vm,vc):
  k=-1*(y-(m+gama*vm)*x-c-(gama*vc))*x
  return k

def gradient_c(x,y,m,c,gama,vm,vc):
  k=-1*(y-(m+gama*vm)*x-c-(gama*vc))
  return k

In [12]:
m=1
c=-1
gama=0.9
eta=0.01
vm=vc=0
epox=1000
for i in range(epox):
  for sample in range(len(x_train)):
    gm=gradient_m(x_train.iloc[sample],y_train.iloc[sample],m,c,gama,vm,vc)
    gc=gradient_c(x_train.iloc[sample],y_train.iloc[sample],m,c,gama,vm,vc)
    vm=(gama*vm)-(eta*gm)
    vc=(gama*vc)-(eta*gc)
    m=m+vm
    c=c+vc

print("values of m and c: ",m,c)

values of m and c:  0.7576087947841383 0.10745163970777646

# ***Model Prediction on training data***

In [13]:
y_pred_train=[]
for i in x_train:
  y=m*i+c
  y_pred_train.append(y)

# ***Model Prediction on testing data***

In [14]:
y_pred_test=[]
for i in x_test:
  y=m*i+c
  y_pred_test.append(y)

# ***Error Calculation***

In [15]:
#training data
rmse=math.sqrt(mean_squared_error(y_train,y_pred_train))
print("Root mean square error: ",rmse)
mse=mean_squared_error(y_train,y_pred_train)
print("Mean square error: ",mse)
mae=mean_absolute_error(y_train,y_pred_train)
print("Mean absolute error: ",mae)

Root mean square error:  0.1716607630986131
Mean square error:  0.02946741758759817
Mean absolute error:  0.12799860359247708

In [16]:
#testing data
rmse=math.sqrt(mean_squared_error(y_test,y_pred_test))
print("Root mean square error: ",rmse)
mse=mean_squared_error(y_test,y_pred_test)
print("Mean square error: ",mse)
mae=mean_absolute_error(y_test,y_pred_test)
print("Mean absolute error: ",mae)

Root mean square error:  0.11350575468015092
Mean square error:  0.012883556345510602
Mean absolute error:  0.0790245537527737

# ***Deployment***

In [17]:
x=input("enter load at particular hour on previous day: ")
x=(float(x)-4689.026)/(8013.01-4689.026)
y=m*x+c
y=y*(8013.01-4689.026)+4689.026
print("Load on present day on the given hour : ",y)

enter load at particular hour on previous day: 5643
Load on present day on the given hour :  5768.932623557817