<a href="https://colab.research.google.com/github/AnuBaluguri/NNDL/blob/main/NNDLAss5_19K532.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Mounting drive***

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# ***Importing required libraries***

In [2]:
import pandas as pd
import numpy as np
import math
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

# ***Loading data***

In [3]:
data = pd.read_excel('/content/drive/MyDrive/ass5_dataset.xlsx')
data.head()

            X           Y
0  5551.82208  4775.53968
1  4983.17184  4713.81120
2  4888.39680  4689.02628
3  5072.95872  4844.75040
4  5196.25980  5571.46296

In [4]:
print(data.min())
print(data.max())

X    4689.02628
Y    4689.02628
dtype: float64
X    8013.0114
Y    8196.1704
dtype: float64

# ***Data Normalization***

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
num_vars=['X','Y']
data[num_vars]=scaler.fit_transform(data[num_vars])
data.head()

          X         Y
0  0.259567  0.024668
1  0.088492  0.007067
2  0.059979  0.000000
3  0.115504  0.044402
4  0.152598  0.251611

# ***Data Splitting***

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data.X,data.Y,test_size=0.1,random_state=10)

# ***RMS Prop +SGD***

In [7]:
def gradient_m(x,y,m,c):
  k=-1*(y-m*x-c)*x
  return k

def gradient_c(x,y,m,c):
  k=-1*(y-m*x-c)
  return k

In [9]:
#Initializing variables
eta=0.1
m=1
c=-1
epox=1000
gama=0.9
EM2=EC2=0
E=0.000001
for i in range(epox):
  for sample in range(len(x_train)):
    gm=gradient_m(x_train.iloc[sample],y_train.iloc[sample],m,c)
    gc=gradient_c(x_train.iloc[sample],y_train.iloc[sample],m,c)
    EM2=(gama*EM2)+(1-gama)*(gm*gm)
    EC2=(gama*EC2)+(1-gama)*(gc*gc)
    m=m-(eta/math.sqrt(EM2+E))*gm
    c=c-(eta/math.sqrt(EC2+E))*gc

print("Model parameter m and c : ",m,c)

Model parameter m and c :  0.5053900472157568 0.04252640329539649

# ***Model prediciton on training data***

In [10]:
y_pred_train=[]
for i in x_train:
  y=m*i+c
  y_pred_train.append(y)

# **Model prediciton on testing data**

In [11]:
y_pred_test=[]
for i in x_test:
  y=m*i+c
  y_pred_test.append(y)

# ***Error Calculation***

In [12]:
#training data
rmse=math.sqrt(mean_squared_error(y_train,y_pred_train))
print("Root mean square error : ",rmse)
mse = (mean_squared_error(y_train,y_pred_train))
print("Mean square error : ",mse)
mae=(mean_absolute_error(y_train,y_pred_train))
print("Mean absolute error: ",mae)

Root mean square error :  0.2713259214715365
Mean square error :  0.0736177556623784
Mean absolute error:  0.2186213543765157

In [13]:
#testing data
rmse=math.sqrt(mean_squared_error(y_test,y_pred_test))
print("Root mean square error: ",rmse)
mse=mean_squared_error(y_test,y_pred_test)
print("Mean square error: ",mse)
mae=mean_absolute_error(y_test,y_pred_test)
print("Mean absolute error: ",mae)

Root mean square error:  0.1511780693937797
Mean square error:  0.02285480866563047
Mean absolute error:  0.13653677273197556

# ***Deployment***

In [14]:
x=input("enter x: ")
x=(float(x)-4713.81)/(8013.7-4713.81)
y=m*x+c
y=(8410.50-5126.89)*y+5126.89
print("y: ",y)

enter x: 6700
y:  6265.378532683779